<?xml version="1.0" encoding="UTF-8"?>
<!-- To run the test use: rostest move_and_turn test_move_and_turn.launch  -->

<launch>
  <!-- Start a Gazebo empty world in headless mode and spawn a Turtlebot 3 robot -->
  <include file="$(find move_and_turn)/launch/gazebo_world_headless.launch"/>

  <!-- Start the move_and_turn node -->
  <node name="move_and_turn_node" pkg="move_and_turn" type="move_and_turn.py" output="screen"/>

  <!-- Start the move_and_turn test -->
  <test test-name="move_and_turn_test" pkg="move_and_turn" type="test_start_move_and_turn.py"/>
</launch>